@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Poppins", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;

}

input {
    border-color: #222222 !important;
}

textarea{
    border-color: #222222 !important;
}

input:focus{
    outline: none !important;
    box-shadow: none !important;
}

textarea:focus{
    outline: none !important;
    box-shadow: none !important;
}

.container {
    flex: 1;
}

/*navbar*/
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

/*footer*/

.f-info-links a {
    text-decoration: none;
    color: #222222;
    margin: 0.5rem;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info {
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.f-info-socials i {
    font-size: 1.3rem;
    color: gray;
}

.f-info-socials i:hover {
    color: blue;
}

/*cards*/

.card {
    border: none !important;
    margin-bottom: 4rem !important;
    border-bottom: #222222 !important;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-text b {
    font-size: 1.3rem;
}

.card-text {
    margin-bottom: 2rem !important;
}
.card-text span{
    color: #fe424d !important;
    font-weight: 600 !important;
}

.index-card-body {
    padding: 0 0 0 1rem !important;
    margin: 1rem 0 1rem 0 !important;
    border-bottom: 1px solid rgb(182, 182, 182);
}

.listing-link {
    text-decoration: none;
}

/*card hover*/
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: #ebebeb;
    /* transform: scale(1.3); */
}

.add-btn {
    border: none !important;
    background-color: #fe424d !important;
}

/*showpage*/

.show-img {
    height: 50vh;
    object-fit: cover !important;
    object-position: center !important;
}

.btns {
    display: flex;
    justify-content: space-between;
}

.show-card-text {
    margin-top: 1rem;
    margin-left: 0 !important;
}

.show-card-text b{
    font-size: 1.5rem;
}

.dlt-btn {
    margin-right: 0rem !important;
}

/*new page*/

.form-control{
    border: #222222;
}
.form-control:hover{
    border: 1px solid #fe424d !important;
}

/*Review Card*/

.review-card {
    border: 1px solid rgb(250, 250, 255) !important;
    border-radius: 0rem !important;
    background-color: rgb(232, 230, 230) !important;
}

.review-card-body {
    padding: 1rem !important;
    margin: 0 !important;
}